.Bubble .MuiPaper-root {
	color: black;
	background-color: lightcoral;
	text-align: right
}

.Bubble.Received .MuiPaper-root {
	color:black;
	background-color: lightblue;
	text-align: left
}

.MessageTopBar .MuiToolbar-root{
	background-color: grey;
	position: fixed;
	width: 100%;
	top: 0;
}


.MessageInputBar .MuiAppBar-root{
	position: fixed;
	background-color: white;
	bottom: 0;
}

.MessageView {
	padding-bottom: 100px;
}